RewriteEngine On
RewriteRule ^foundation.html$ /Foundation/ [R=301]
RewriteRule ^Foundation.html$ /Foundation/ [R=301] 
RewriteRule ^index.html$ / [R=301]
RewriteRule ^WhatIsRainbow.html$ /JoinRainbow/ [R=301]
RewriteRule ^Contact.html$ /Contact/ [R=301]
RewriteRule ^FoundBoard.html$ /Foundation/Board/ [R=301]
RewriteRule ^FoundScholar.html$ /Foundation/Scholarship/ [R=301]
RewriteRule ^FoundDonate.html$ /Foundation/Donation/ [R=301]
RewriteRule ^Calendar.html$ /Calendar/ [R=301]
RewriteRule ^SunsetGazette.html$ /SunsetGazette/ [R=301]
RewriteRule ^GO.html$ /GrandOfficers/ [R=301]
RewriteRule ^GOReps.html$ /GrandRepresentatives/ [R=301]
RewriteRule ^GOJunior.html$ /JuniorExecs/ [R=301]
RewriteRule ^SI.html$ /SupremeInspector/ [R=301]
RewriteRule ^GWA.html$ /GWA?y=2014/ [R=301]
RewriteRule ^Assemblies.html$ /LocalAssemblies/ [R=301]
RewriteRule ^GA.html$ /GrandAssembly/ [R=301]
RewriteRule ^GAReg2014.html$ /GrandAssembly/Registration/ [R=301]
RewriteRule ^GExecs.html$ /GrandAssembly/Executives/ [R=301]
RewriteRule ^GDeputies.html$ /GrandAssembly/Deputies/ [R=301]

RewriteRule ^foundation.php$ /Foundation/ [R=301]
RewriteRule ^Foundation.php$ /Foundation/ [R=301]
RewriteRule ^index.php$ / [R=301]
RewriteRule ^WhatIsRainbow.php$ /JoinRainbow/ [R=301]
RewriteRule ^Contact.php$ /Contact/ [R=301]
RewriteRule ^FoundBoard.php$ /Foundation/Board/ [R=301]
RewriteRule ^FoundScholar.php$ /Foundation/Scholarship/ [R=301]
RewriteRule ^FoundDonate.php$ /Foundation/Donation/ [R=301]
RewriteRule ^Calendar.php$ /Calendar/ [R=301]
RewriteRule ^SunsetGazette.php$ /SunsetGazette/ [R=301]
RewriteRule ^GO.php$ /GrandOfficers/ [R=301]
RewriteRule ^GOReps.php$ /GrandRepresentatives/ [R=301]
RewriteRule ^GOJunior.php$ /JuniorExecs/ [R=301]
RewriteRule ^SI.php$ /SupremeInspector/ [R=301]
RewriteRule ^GWA.php$ /GWA?y=2014/ [R=301]
RewriteRule ^Assemblies.php$ /LocalAssemblies/ [R=301]
RewriteRule ^GA.php$ /GrandAssembly/ [R=301]
RewriteRule ^GAReg2014.php$ /GrandAssembly/Registration/ [R=301]
RewriteRule ^GExecs.php$ /GrandAssembly/Executives/ [R=301]
RewriteRule ^GDeputies.php$ /GrandAssembly/Deputies/ [R=301]

