@charset "UTF-8";
/* CSS Document */

/*form {width: 375px; margin: 34px auto;
	    font-family: 'Gilda Display', serif;
    font-variant:small-caps;
    font-size: 22px;
}
form tr {
    border: 1px solid #CCC;
    background: #f4f3f2;
}
form table {width: 375px; margin-bottom: 16px;}
form th {
    width: 85px;
    border-right: 1px solid #CCC;
    vertical-align: middle;
    padding: 8px;
}
form td {
    padding: 15px 15px;
}
form td select,
form td input,
form td textarea {
    width: 100%;
}*/



.button:hover, input[type="submit"] {
    background: #333;
    cursor: pointer;
}
.hidden {
	display:none;
}
/*
.button {
   color: #FFF;
    -webkit-border-radius: 2px;
    border-radius: 2px;    
    border: 1px solid #990000;
	text-align: center;
    line-height: 30px;
    padding: 0px 20px 10px 20px;
	height: 30px;
	width: 150px;
	position: relative;
	left: 310px;
	font-family: 'Gilda Display', serif;
    font-variant:small-caps;
    font-size: 18px;
	font-weight: 300;
	background: #990000;
	margin-bottom: 50px;
	}*/
form label {
    font-variant:normal;
	font-size: 16px;
}
form select {
    font-family: 'Gilda Display', serif;
    font-variant:small-caps;
    font-size: 22px;
	color: #FFF;
    font-size: 16px;
    -webkit-border-radius: 2px;
    border-radius: 2px;    
    border: 1px solid #990000;
    padding: 14px;
	height: 30px;
	background: #990000;
	margin: 0px auto 50px auto;
	}

form input[type="submit"], .button {
    /*width: 375px;*/
    text-align: center;
    border: none;
    background: #990000;
    box-shadow: 0 3px 0 0 #770000;
    color: #FFF;
    -webkit-border-radius: 5px;
    border-radius: 5px;    
    font-family: 'Gilda Display', serif;
    font-variant:small-caps;
    cursor: pointer;
    display: block;
    font-size: 1.5em;
    line-height: 1.6em;
    margin: 3em 0 0;
    outline: none;
    padding: .4em 0;
    text-shadow: 0 1px #68B25B;
  
}
.button {
    font-weight: 500;
        font-size: 1.2em;
    margin: 0 auto;
  width: 50%;
 
}
.search form {
    width: auto;
    text-align: center;
}
.search form input[type="text"] {
    font-size: 24px;
    width: 70%;
    line-height: 1.5;
    vertical-align: top;
    padding: 3px;
}
.search form input[type="submit"] {
    width: auto;
    vertical-align: top;    
}

form {
  background: #fff;
  padding: 4em 4em 2em;
  max-width: 475px;
  margin: 100px auto 100px auto;
  box-shadow: 0 0 1em #222;
  border-radius: 5px;
}

#clock{
  background: none;
  padding: 0;
  max-width: none;
  margin: 0;
  box-shadow: none;
  border-radius: none;
}

form h1 {
    margin: -1em 0 1.5em 0;
    padding: 0;
}
form p {
  margin: 0 0 2em 0;
  position: relative;
}
form label {
  display: block;
  font-size: 1.2em;
  margin: 1.2em 0 .5em;
  color: #333;
}
#fileLabel{
    margin: 0 auto;
}
input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none
}
form input[type="text"],
input[type="password"] {
  background: #f5f5f5;
  border: 1px solid #e5e5e5;
  font-size: 1.2em;
  padding: .8em .5em;
  border-radius: 5px;
}
input[type="text"]:focus,
input[type="password"]:focus {
  background: #fff
}
form span {
  border-radius: 5px;
  display: block;
  font-size: 1em;
  text-align: center;
  position: absolute;
  background: #990000;
  left: 105%;
  top: 25px;
  width: 200px;
  padding: 7px 10px;
  color: #fff;
}
form span:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #990000;
  border-width: 8px;
  margin-top: -8px;
}

@media screen and (max-width: 600px) {
  form {
    max-width: 660px;
  }
}
