@charset "UTF-8";
/* CSS Document */


#SIHeight {
	height: 1400px;
}
#GAHeight {
	height: 1000px;
}
#GARegHeight {
	height: 1500px;
}
#GDepHeight {
	height: 800px;
}
#GExecHeight {
	height: 800px;
}
#AssemHeight {
	height:900px;
}
#ContactHeight {
	height:800px;
}
#SSRHeight {
	height: 1600px;
}
#FoundHeight {
	height: 800px;
}
#FoundBoardHeight {
	height: 800px;
}
#FoundDonateHeight {
	height: 1200px;
}
#FoundScholarHeight {
	height:1500px;
}
#HomeHeight {
	height:1000px;
}
#RainbowHeight {
	height:1300px;
}
#CalendarHeight {
	height:8000px;
}

#GWAHeight {
	height: 2000px;
}
#GWAFullHeight {
	height: 3000px;
}
#GWAPicHeight {
	height: 1200px;
}
#GOHeight {
	height: 1000px;
}
#GORepsHeight {
	height: 2600px;
}
#GOJuniorHeight {
	height: 800px;
}
#GAScheduleHeight {
	height: 1800px;
}

@media all and (max-width: 600px)
{

#SIHeight {
	height: 2100px;
}
#GAHeight {
	height: 1600px;
}
#GAScheduleHeight {
	height: 2500px;
}
#GARegHeight {
	height: 2500px;
}
#GDepHeight {
	height: 700px;
}
#GExecHeight {
	height: 800px;
}
#AssemHeight {
	height:1000px;
}
#ContactHeight {
	height:1100px;
}
#SSRHeight {
	height: 2000px;
}
#FoundHeight {
	height: 1900px;
}
#FoundBoardHeight {
	height: 700px;
}
#FoundDonateHeight {
	height: 2100px;
}
#FoundScholarHeight {
	height: 1900px;
}
#HomeHeight {
	height:1200px;
}
#RainbowHeight {
	height:3100px;
}
#CalendarHeight {
	height:1600px;
}
#GWAHeight {
	height: 4100px;
}
#GWAFullHeight {
	height: 6000px;
}
#GWAPicHeight {
	height: 1400px;
}
#GOHeight {
	height: 1300px;
}
#GORepsHeight {
	height: 3800px;
}
#GOJuniorHeight {
	height: 800px;
}

}